<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCofhHHFozVfu0VOBlrd9M7ZdqTl2OKZCU</string>
	<key>GCM_SENDER_ID</key>
	<string>291265351313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webHrManagement</string>
	<key>PROJECT_ID</key>
	<string>web-hr-management</string>
	<key>STORAGE_BUCKET</key>
	<string>web-hr-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291265351313:ios:d7ce05bfc13b98d7faf930</string>
</dict>
</plist>